body {
    background: linear-gradient(180deg, #040918 0%, #091540 100%);
    display: flex;
    align-items: center;
    font-family: sans-serif;
    margin: 0;
    box-sizing: border-box;
    width: 100%;
    flex-direction: column;
    min-height: 100vh;
}

.main {
  flex: 1;
}

.main {
    padding: 40px 100px;
}

.topbar {
    position: relative;
    width: 100%; 
    height: 75px;
    border-radius: 20px;
    background-color: hsl(226, 25%, 17%);
    display: flex;
    align-items: center;
}

.logo {
    margin-left: 25px;
}

.svg-text {
    fill: white;
    font-family: sans-serif;
    font-size:20px;
    font-weight: 600;
}

.themeBtn {
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    background-color:  rgba(255, 255, 255, 0.2);
    cursor: pointer;
    border: none;
    position: absolute;
    right: 25px;
}

.themeBtn:hover {
    background-color: hsl(225, 23%, 24%);
}

.listcontainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; 
    align-items: center;
    margin-top: 40px;
    width: 100%; 
}

.listcontainer h1 {
    color: white;
    margin: 0;      
    font-size: 24px;
}

.listsection {
    display: flex;
    gap: 10px;
    display: flex; 
}

.listsection button {
    padding: 12px 20px;
    border: none;
    border-radius: 50px;
    background-color:  rgba(255, 255, 255, 0.2);
    color: white;
    cursor: pointer;
    font-family: sans-serif;
    
}
.listsection button:hover {
    background-color: hsl(3, 71%, 56%);
    font-weight: 600;
}

.boxcontainer {
    display: flex;
    width: 100%; 
    flex-wrap: wrap;
    gap: 10px;
    margin: 20px 0px;
    justify-content: space-around;
}

.box {
    display: flex;
    position: relative;
    align-items: flex-start;
    justify-content: space-between;
    padding: 20px;
    background-color:hsl(226, 25%, 17%);
    color: white;
    border-radius: 20px;
    height: 150px;
    width: 300px;
    
}

.txtcontainer {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

.box img {
    width: 60px;
    height: 60px;
}

.box h4 {
    font-weight: 700;
    color: hsl(0, 0%, 93%);
    margin: 5px 0 0 0;
}

.box p {
    font-size: 14px;
    margin-top: 10px;
    font-weight: 400;
    color: hsl(0, 0%, 78%);
}

.btnbox {
    display: flex;
    position: absolute;
    justify-content: space-between;
    bottom: 25px;
    align-items: center;
}

.btn {
    padding: 12px 20px;
    font-size: 16px;
    color: white;
    border: 1px solid hsl(0, 0%, 78%);
    border-radius: 50px;
    cursor: pointer;
    background-color: hsl(226, 25%, 17%);
}

button:hover {
    background-color: hsl(3, 71%, 56%);
}

.switchbox {
    position: absolute;
    bottom: 25px;
    right: 25px;
    padding: 12px 0 12px 0;
}

.switch {
    position: relative;
    display: inline-block;
    width: 34px;
    height: 20px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.4s;
    border-radius: 50px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 12px;
    width: 12px;
    border-radius: 50%;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: 0.4s;
}

.box.active {
    outline: 2px dashed hsl(3, 71%, 56%);
}

input:checked + .slider {
    background-color: hsl(3, 71%, 56%);
}

input:checked + .slider:before {
    transform: translateX(14px);
}

.attribution {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    color: hsl(0, 0%, 93%);
}

body.day {
    background:linear-gradient(180deg, #EBF2FC 0%, #EEF8F9 100%);
}

body.day .svg-text {
   fill:hsl(227, 75%, 14%);
}

body.day .topbar {
    background-color: hsl(200, 60%, 99%);
}

body.day .themeBtn {
    background-color: hsl(0, 0%, 93%);
}

body.day .themeBtn:hover {
    background-color: hsl(0, 0%, 78%);
}

body.day .listcontainer h1 {
    color: hsl(227, 75%, 14%);
}

body.day .box {
    background-color: hsl(200, 60%, 99%);
}

body.day h4{
    color: hsl(227, 75%, 14%);
}

body.day p {
    color: hsl(226, 11%, 37%);
    font-weight: 500;
}

body.day .boxcontainer .btn {
    border: 1px solid hsl(227, 75%, 14%);
    color: hsl(227, 75%, 14%);
    background-color: hsl(200, 60%, 99%);
}

body.day .listsection button {
    background-color: hsl(200, 60%, 99%);
    color:hsl(227, 75%, 14%);
}

body.day .listsection button:hover {
    background-color: hsl(3, 71%, 56%);
}

body.day .boxcontainer button:hover {
    background-color: hsl(3, 71%, 56%);
}


@media (max-width: 540px) {

    .main {
       padding: 5px;
       display: flex;
       flex-direction: column;
       align-items: center;
       width: 95%;
       margin-top: 25px;
    }
  
    .listcontainer {
        flex-direction: column;
        align-items: center;
        margin-top: 20px;
    }

    .listsection {
        justify-content: flex-start;
        justify-content: center;
        width: 100%;
        margin-top: 15px;
    }
}
